.stats-table {
	width: 40%;
	margin: 30px 30px 60px 30px;
	.horizontal-align-div {
		display: flex;
		align-items: center;
		gap: 14px;
		margin-bottom: 0;
	}
	.stats-table-title {
		vertical-align: center;
		font-weight: bold;
	}
}
