.root {
	position: relative;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	transition: border-color 200ms ease;

	&[data-checked] {
		border-color: var(--mantine-primary-color-filled);
	}

	@mixin hover {
		@mixin light {
			background-color: var(--mantine-color-gray-0);
		}

		@mixin dark {
			background-color: var(--mantine-color-dark-6);
		}
	}
}

.label {
	font-weight: 500;
	font-size: var(--mantine-font-size-sm);
	line-height: 1.3;
}
