main.loginPage {
	all: unset;

	.wrapper {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../../assets/login-background.jpg');
	}

	.form {
		position: relative;
		min-height: 100vh;
		border-right: rem(1px) solid
			light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
		max-width: rem(500px);
		padding-top: rem(80px);

		@media (max-width: $mantine-breakpoint-sm) {
			max-width: 100%;
		}
	}

	form {
		padding: 0 30px 0 30px;
	}

	.title {
		color: light-dark(
			var(--mantine-color-black),
			var(--mantine-color-white)
		);
		font-family: Greycliff CF, var(--mantine-font-family);
	}

	.serverStatus {
		position: absolute;
		bottom: 20px;
		left: 150px;
		.statusDot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			display: inline-block;
			margin-right: 5px;
		}
		.statusGreen {
			color: #28a745;
			border-radius: 20px;
			padding: 2px 10px 3px;
			background-color: #e6f4ea;
			.statusDot {
				background-color: #28a745;
			}
			.statusDotAnimated {
				animation: pulse 1s infinite;
				@keyframes pulse {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.2);
					}
					100% {
						transform: scale(1);
					}
				}
			}
		}
		.statusRed {
			color: #dc3545;
			background-color: #f7e8e9;
			border-radius: 20px;
			padding: 3px 10px;
			.statusDot {
				background-color: #dc3545;
			}
		}
	}
}
