.admin-dashboard {
	display: flex;
	flex-direction: flex;
	/* gap: 50px; */
	/* align-items: center; */
}

/* .admin-dashboard .horizontal-align-div {
	width: 100%;
	display: flex;
	gap: 50px;
	justify-content: space-around;
	flex-wrap: wrap;
} */
