#root {
	height: 100vh;
}

a {
	all: unset;
}

main {
	padding: 0 16px 16px 16px;
}

.app {
	height: 100%;
}

.app-content {
	height: 100%;
}

.app-content > * {
	height: 100%;
}

.bold-text,
.mantine-Modal-title {
	font-weight: bold;
}

.vip-text {
	/* color: #ce2029; */
	color: #2a7e3b;
	font-weight: bold;
}

.personal-device-text {
	color: #6e56cf;
}

.loading {
	min-height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
